<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Orders</title>
    </head>

    <body>

        <div>
            <h1>Orders</h1>
        </div>

        <div>
            <div th:each="order,iterStat : ${orders}">
                <div>
                    <div>
                        <p th:text="${order.getId()}"></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>